<!DOCTYPE html>
<html>
<include file="../Public/head" /> 
      <body class="skin-black">
        <!-- header logo: style can be found in header.less -->
<include file="../Public/header" /> 
                <div class="wrapper row-offcanvas row-offcanvas-left">
                    <!-- Left side column. contains the logo and sidebar -->
   <include file="../Public/menu" />                

                    <aside class="right-side">

                <!-- Main content -->
                          <section class="panel">
                              <header class="panel-heading">
                                  {$controller}    {$action}
                              </header>
                              <div class="panel-body">
                                  <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="">
 									<if condition="$Think.get.id neq null">
 									<input type="hidden" name="id" value="{$Think.get.id}" >
 									</if>
 									
                                      <div class="form-group">
                                          <label for="sellName" class="col-lg-2 col-sm-2 control-label">商户名称</label>
                                          <div class="col-lg-10">
                                              <input type="text" readonly class="form-control" id="sellName" placeholder="sellName"  value="{$data.sellName}" >
                                          </div>
                                      </div>

									<div class="form-group">
                                          <label for="sellPhone" class="col-lg-2 col-sm-2 control-label">联系方式</label>
                                          <div class="col-lg-10">
                                              <input type="text" readonly class="form-control" id="sellPhone" placeholder="sellPhone" value="{$data.sellPhone}" >
                                          </div>
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="firstData" class="col-lg-2 col-sm-2 control-label">商户证件</label>
                                          <div class="col-lg-10">
                                              <a  href="/oa/{$data.firstData}">压缩文件</a>
                                          </div>
                                           
                                      </div>
                                     
                                      <div class="form-group">
                                          <label for="manageEmail" class="col-lg-2 col-sm-2 control-label">主管邮箱</label>
                                          <div class="col-lg-10">
                                              <input type="text" class="form-control" readonly id="manageEmail" placeholder="manageEmail" value="{$data.manageEmail}" >
                                          </div>
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="twoCode" class="col-lg-2 col-sm-2 control-label">支付二维码</label>
                                          <div class="col-lg-10">
                                             <!--  <input type="file"   id="twoCode" placeholder="twoCode" name="payCode" > -->
                                                                                    <img src="/oa/{$data.payCode}" />
                                          </div>
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="payImage" class="col-lg-2 col-sm-2 control-label">支付凭证</label>
                                          <div class="col-lg-10">
                                             <!--  <input type="file"   id="twoCode" placeholder="twoCode" name="payCode" > -->
                                                                                    <img src="/oa/{$data.payImage}" />
                                          </div>
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="secoudData" class="col-lg-2 col-sm-2 control-label">商户素材</label>
                                          <div class="col-lg-10">
                                             <!--  <input type="file"   id="twoCode" placeholder="twoCode" name="payCode" > -->
                                                                                    <a href="/oa/{$data.secoudData}" />压缩文件</a>
                                          </div>
                                      </div>
                                      
                                      <div class="form-group">
                                          <div class="col-lg-offset-2 col-lg-10">
                                              <input type="submit" class="btn btn-blue" value="{$controller} {$action}">
                                               <a href="__CONTROLLER__/notApprove/id/{$Think.get.id}" class="btn btn-danger" >{$controller} not {$action}</a>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </section>
            </aside><!-- /.right-side -->

        </div><!-- ./wrapper -->

<include file="../Public/js" /> 
 
</body>
</html>